
.Botones {
    margin-left: 250px;
}

.imagen {
    position: absolute;
    
}

.posicion {
    position: relative;
    left: 64px;
    top: -39px;
}

.parrafo1 {
    margin-top: 70px;
    width: 536px;
}

.tallas {
    margin-top: 50px;
    margin-left: 0px;
    height: 50px;
}

.encuentraTuPrenda {
    margin-left: -247px;
    margin-top: 93px;
}

.imagenesBombi {
    width: 400px;
    border: 1px solid black;
    z-index: 2;
    position: absolute;
}

.imagenesBombi img{
    width: 200px;
    position: relative;
    z-index: 1;
}

