
.Botones {
    margin-left: 250px;
}

.imagen {
    position: absolute;
    
}

.Carrito {
    font-weight: 900;
    width: 54px;
    padding-top: 3px;
    font-size: 33px;
    color: white;
}

.posicion {
    position: relative;
    left: 64px;
    top: -39px;
}

.parrafo1 {
    margin-top: 293px;
    width: 536px;
}

.tallas {
    margin-top: 50px;
    margin-left: 0px;
    height: 50px;
}

.encuentraTuPrenda {
    margin-left: -247px;
    margin-top: 93px;
}

.lolo{
    position: absolute;
    right: 9%;
    top: 230px;
}

.imagenesBombi  img{
    width: 278px;
    height: 349px;
}

.imagenesBombi2 img {
    width: 350px;
}
.imagenesBombi {
    position: absolute;
    z-index: 99;
    top: 52%;
    left: -71px;
}

.imagenesBombi2 {
    position: relative;
    left: 137px;
}

.fondoNegro {
    height: 865px;
    position: absolute;
    background: black;
    width: 561px;
    z-index: -90;
    left: -71px;
    top: -243px;
}

.final {
    margin-top: 263px;
}

.Facebook {
    width: 30px;
}

.Instagram {
    width: 30px;
}

.WhatsApp {
    width: 30px;
}

.Twitter {
    width: 30px;
}

.Tiktok {
    width: 30px;
}

/* @media (min-width: 600px) {
    .parrafo1 {
        width: 30px;
        color: white;
        padding: 44px;
    }
    } */
