
.Botones {
    margin-left: 250px;
}

.body{
    background: aqua;
}

.imagen {
    position: absolute;
    left: 8rem;
}

/* .imgcarrusel{
    width: 80px;
} */

.posicion {
    position: relative;
    left: 64px;
    top: -39px;
}

.parrafo1 {
    margin-top: 70px;
    width: 536px;
}

.tallas {
    margin-top: 50px;
    margin-left: 0px;
    height: 50px;
}

.encuentraTuPrenda {
    margin-left: -247px;
    margin-top: 93px;
}

.imagenesBombi {
    width: 400px;
    border: 1px solid black;
    z-index: 2;
    position: absolute;
}

.imagenesBombi img{
    width: 200px;
    position: relative;
    z-index: 1;
}

.final {
    margin-top: 100px;
}

.Facebook {
    width: 30px;
}

.Instagram {
    width: 30px;
}

.WhatsApp {
    width: 30px;
}

.Twitter {
    width: 30px;
}

.Tiktok {
    width: 30px;
}

.slick-arrow{
    filter: brightness(0.5);
}

.container{

}