
.Botones {
    margin-left: 250px;
}

.body{
    background: rgb(240,194,86);
background: linear-gradient(90deg, rgba(240,194,86,1) 0%, rgba(255,94,0,0.8827906162464986) 0%, rgba(252,176,69,1) 46%);
}


.imagen {
    position: absolute;
    left: 8rem;
}


/* .imgcarrusel{
    width: 80px;
} */

.posicion {
    position: relative;
    left: -4px;
    top: -189px;
}

.parrafo1 {
    margin-top: 130px;
    width: 536px;
    margin-left: 207px;
}

.tallas {
    margin-top: 50px;
    margin-left: 0px;
    height: 50px;
}

.encuentraTuPrenda {
    margin-left: -247px;
    margin-top: 93px;
}

.imagenesBombi {
    width: 202px;
    border: 1px solid black;
    z-index: 2;
    position: absolute;
}

.imagenesBombi img{
    width: 200px;
    position: relative;
    z-index: 1;
}

.final {
    margin-top: 100px;
}

.Facebook {
    width: 30px;
}

.Instagram {
    width: 30px;
}

.WhatsApp {
    width: 30px;
}

.Twitter {
    width: 30px;
}

.Tiktok {
    width: 30px;
}

.slick-arrow{
    filter: brightness(0.5);
}

.cajaForm {
    padding: 50px 64px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}

.botonIni { 
    margin-left: 41px;
}

.botonNewAc {
    margin-left: 21px;
}

.px-2 > img {
    width: 30px;
}

