
.Botones {
    margin-left: 250px;
}

.imagen {
    position: absolute;
    
}

.posicion {
    position: relative;
    left: 64px;
    top: -39px;
}

.parrafo1 {
    margin-top: 70px;
    width: 536px;
}

.tallas {
    margin-top: 50px;
    margin-left: 0px;
    height: 50px;
}

.encuentraTuPrenda {
    margin-left: -247px;
    margin-top: 93px;
}

.imagenesBombi {
    width: 400px;
    border: 1px solid black;
    z-index: 2;
    position: absolute;
}

.imagenesBombi img{
    width: 200px;
    position: relative;
    z-index: 1;
}


.Formularios {
    border: 1px solid #c5c5c5;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 500px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.Inputss {
    width: 300px;
    font-size: 14px;
    margin: 5px;
    border-radius: 8px;
    border-color: #c5c5c5;
    border: 1px solid   #c5c5c5;
    padding: 15px  15px;
    
}

.botonLogin{
    border: 0;
    width: 100%;
    background-color: black;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px   0;
}

.olvPass{
    text-align: center;
    align-items: center;
    padding: 10px   0;
    font-size: 14px;
}

.olvPass a{
    text-decoration: none;
    color: #166fe5;
}

/* #42b72a */

.botonNewAcc{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 22%;
}

.botonNewAcc{
    border: 0;
    /* width: 100%; */
    background-color: black;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
}

.bg-lolo{
    background: transparent !important;
    border: 0  ;
}

.separador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea1 {
    background: #c5c5c5;
    width: 100%;
    height: 1px;
    margin: 20px    0;
}